* ::before ::after {
    display: flex;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#drop-down{
    height: 125px;
    justify-content: center;
}

#navbar{
    height: 15vh;
}

#toprated{
    width: 115vw;
    height: 125vh;
    padding-bottom: 20vh;
}

#navtxt{
    line-height: 10vh;
    padding-top: flex;
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#footertitle {
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}

select{
    display: block;
}

@media only screen and (min-width: 601px) {
.row .col.m3 {
    width: 20%;
}}